.mensaje {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.mensaje-author {
    font-weight: bold;
}

.mensaje-content {
    margin: 5px 0;
}

.mensaje-fecha {
    font-size: 0.8em;
    color: gray;
}

.mensaje-estado {
    font-size: 0.8em;
}

.mensaje-estado.visto {
    color: green;
}

.mensaje-estado.entregado {
    color: orange;
}

.mensaje-estado.no_entregado {
    color: red;
}
body {
    font-family: Arial, sans-serif;
    background-color: #d85b5b;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.App {
    background-image: url(/src/assets/Images/fondooscuro.jpeg);
    padding: 20px;
    padding-top: 90px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    position: relative;
}

.chat {
    margin-top: 20px;
    color: gray;
    max-height: 60vh;
    overflow-y: auto;
}

h1 {
    background-color: rgb(10, 10, 10);
    border-radius: 2px, 0px, 2px, 0;
    height: 50px;
    width: 100%;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.imgPerfil {
    background-image: url(./Images/icononoguardado.avif);
    border-radius: 50%;
}
